name: Release module
on:
  pull_request:
    types: [opened, reopened, synchronize, closed]
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        # Note: Do not update this to v6 until https://github.com/techpivot/terraform-module-releaser/issues/332 is resolved
        uses: actions/checkout@v5

      - name: Terraform Module Releaser
        uses: techpivot/terraform-module-releaser@v1